body {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif, Times New Roman, serif, Impact;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: #98b99c;
    border-radius: 25px;
    text-align: center;
    height: auto;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    margin-top: 50px;
}

input[type="text"] {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    text-align: left;
    outline: none;
    position: left;
    padding-right: 50px;
}

input[type="checkbox"] {
    border-radius: 20px;
}

button {
    text-align: center;
    display: flex;
    align-items: right;
    border-radius: 50px;
    color: white;
    font-size: 19px;
    font-weight: bolder;
    background-color: #609366;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    margin-top: 50px;
}

button:hover {
    border: 0.5px solid black;
    margin-top: 52px;
    margin-right: 2px;
    transition: 0.2s;
}

@media (max-width: 600px) {
    .content {
        width: 95%; 
        padding: 10px; 
    }
}

a[href="index.html"] {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #98b99c;
    padding: 10px;
}

a[href="index.html"]:hover {
    box-shadow: 2px 2px 3px black;
    transition: 0.2s;
} 
